@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

// div contenedor, al que le aplico un min-height para que no haya espacios en
// blanco al cargar pocos productos.
.container {
  min-height: 71vh;

  // Aplico margin a las cabeceras
  h2,
  h5 {
    margin: 1rem;
  }

  .pedido-container {
    @include flexRow();
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      border-top: 1px solid rgba(148, 148, 148, 0.76);
      padding: 1rem;
      // Aplico tamaño a las diferentes partes del contenedor
      .img-container {
          // Aplico un tamaño fijo a la imagen
          margin-bottom: 0.3rem;
          img {
              width: 10rem;
              height: 10rem;
            }
        }
        .desc-container {
          width: 60%;
        }

         // Centro el texto del input de cantidad
      .step {
        text-align: center;
      }
      // Aplico margen y tamaño al precio de cada procducto
      .precio {
        margin-top: 1rem;
        font-size: size(md);
      }
    }
  // Aplico color, tipo de letra y margen al stock
  .stock {
    font-weight: bold;
    color: color(verde);
    margin-bottom: 1rem;
  }
  .noStock {
    font-weight: bold;
    color: color(rojo);
    margin-bottom: 1rem;
  }

  // Estilo del botón de eliminar artículo
  .eliminar {
    border-color: red;
    border-radius: 9px;
    // Estilo del botón de eliminar artículo cuando pasas por encima
    &:hover {
      background-color: #d9534f;
      color: white;
    }
  }


  // Div que almacena el precio total y el botón de realizar pedido
  // Le aplico posicionamiento
  #botonCesta {
    @include flexColumn();
    align-items: center;
    // Estilo de fuente al subtotal
    #subtotal {
      font-weight: bold;
      font-size: x-large;
    }
    // Aplico posicionamiento al div contenedor del botón para realizar pedido
    // Aplico estilo y tamaño al div contenedor del botón para realizar pedido
    // Aplico márgenes laterales y tamaño según el tamaño de la pantalla
    #realizar {
      @include flexColumn();
      justify-content: center;
      width: 70%;
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
      height: 20%;
      @include mrgTB(4vh, 2rem);
      @include response(lg) {
        width: 50%;
      }
      // Estilo del botón para realizar pedido
      .btnRealizar {
        border-color: green;
        border-radius: 9px;
        border-style: solid;
        // Estilo del botón para realizar pedido cuando pasas por encima
        &:hover {
          background-color: color(verde);
          color: color(secondary);
        }
      }
      // Estilo del div contenedor del botón para realizar pedido cuando pasas por encima
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}